version: '3.3'

services:
  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    command: ["sh", "-c", "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8082"]
    volumes:
      - ./db:/app/db
      - ./resources:/app/resources
      - ./SSSB/SSSB:/app/SSSB/SSSB
      - ./SSSB/web:/app/SSSB/web
      - ./send_mail.py:/app/send_mail.py
    ports:
      - "8082:8082"
    depends_on:
      - mongo
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sssbreminder-web.rule=Host(`sssbreminder.xyzs.app`)"
      - "traefik.http.services.sssbreminder-web.loadbalancer.server.port=8082"
      - "traefik.http.routers.sssbreminder-web.entrypoints=web,websecure"
      - "traefik.http.routers.sssbreminder-web.tls.certresolver=sslresolver"
    networks:
      - traefik

  get_url:
    build:
      context: .
      dockerfile: crawl.Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    command: python check_sssb.py --headless --endless --get_url
    depends_on:
      - mongo
    env_file:
      - .env
    networks:
      - traefik

  check_url:
    build:
      context: .
      dockerfile: crawl.Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    command: python check_sssb.py --headless --endless --check_url
    depends_on:
      - mongo
    env_file:
      - .env
    networks:
      - traefik

  check_filter:
    build:
      context: .
      dockerfile: crawl.Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    command: python check_sssb.py --headless --endless --check_filter
    depends_on:
      - mongo
    env_file:
      - .env
    networks:
      - traefik

  mongo:
    image: mongo:5
    ports:
      - "1027:27017"
    volumes:
      - ./db:/data/db
    networks:
      - traefik

networks:
  traefik:
    external: true
