<!DOCTYPE html>
<html lang="en">
    <head>
       <title>SSSB Reminder</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h2>SSSB Reminder</h2>
        <div class="col-lg-12" style="padding: 10px;">
            <a class="btn btn-default" href="new_filter">
                Create new reminder
            </a>
        </div>
        <div class="col-lg-12" style="padding: 10px;">
            <a class="btn btn-default" href="search_apartments">
                Search apartments
            </a>
        </div>
    </body>
</html>

