<!DOCTYPE html>
<html lang="en">
    <head>
       <title>SSSB Reminder</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h2>SSSB Reminder</h2>
        <div class="col-lg-12" style="padding: 10px;">
            <a class="btn btn-default" href="available_apartments">
                Available apartments
            </a>
        </div>
        <div class="col-lg-12" style="padding: 10px;">
            <a class="btn btn-default" href="apartment_status">
                Apartment status
            </a>
        </div>
        <div class="col-lg-6 col-sm-12" style="padding: 20px;">
            <h3>Filter here</h3>
            <form role="form" method="post">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="email" placeholder="">
                    <p class="help-block">Please fill your email here.</p>
                </div>
                <div class="form-group">
                    <label>Credit days</label>
                    <input type="number" class="form-control" name="credit">
                </div>
                <div class="form-group">
                    <label>Distance (not supported for now)</label>
                    <input type="number" class="form-control" name="distance" value="{{ distance }}"> 
                    <p class="help-block">km</p>
                </div>
                <div class="form-group">
                    <label>Region</label>
                    <br>
                    {% for region in region_list %}
                        <input name="region" type="checkbox" value="{{ region.name }}"> 
                        {{ region.name }}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Floor (not supported for now)</label>
                    <br>
                    <!--<input type="range" class="form-control"> -->
                    <div class="col-lg-1">FROM</div>
                    <div class="col-lg-2">
                        <input name="floor_min" type="number" class="form-control" value="0">
                    </div>
                    <div class="col-lg-1">TO</div>
                    <div class="col-lg-2">
                        <input name="floor_max" type="number" class="form-control">
                    </div>
                    <input name="floor_unspecified" type="checkbox"> NOT SPECIFIED
                    <br>
                </div>
                <div class="form-group">
                    <label>Accommododation type</label>
                    <br>
                    {% for typ in type_list %}
                        <input name="type" type="checkbox" value="{{ typ.name }}"> 
                        {{ typ.name }}
                        <br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Living space</label>
                    <br>
                    <div class="col-lg-1">FROM</div>
                    <div class="col-lg-2">
                        <input name="space_min" type="number" class="form-control" value="{{ space_boundaries.min}}">
                    </div>
                    <div class="col-lg-1">TO</div>
                    <div class="col-lg-2">
                        <input name="space_max" type="number" class="form-control" value="{{ space_boundaries.max}}">
                    </div>
                    <input name="space_unspecified" type="checkbox"> NOT SPECIFIED
                    <br>
                </div>
                <div class="form-group">
                    <label>Rent</label>
                    <br>
                    <div class="col-lg-1">FROM</div>
                    <div class="col-lg-2">
                        <input name="rent_min" type="number" class="form-control" value="{{ rent_boundaries.min}}">
                    </div>
                    <div class="col-lg-1">TO</div>
                    <div class="col-lg-2">
                        <input name="rent_max" type="number" class="form-control" value="{{ rent_boundaries.max}}">
                    </div>
                    <input name="rent_unspecified" type="checkbox"> NOT SPECIFIED
                    <br>
                </div>
                <div class="form-group">
                    <label>Other options</label>
                    <div class="checkbox">
                        <label> <input name="short_rent" type="checkbox"> 
                            Short rent 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label> <input name="electricity_include" type="checkbox"> 
                            Electricity include 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label> <input name="rent_free_june_and_july" type="checkbox"> 
                            June & July free 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label> <input name="max_4_years" type="checkbox"> 
                            Max 4 years 
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>

