<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SSSB Reminder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js" rel="external nofollow"  rel="external nofollow"  rel="external nofollow" ></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" rel="external nofollow"  rel="external nofollow"  rel="external nofollow"></script>
    </head>
    <body>
        <h2>Search for SSSB housing</h2>

        <div class="col-lg-12 col-sm-12" style="padding: 20px;">

            <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                Filter
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                  &times;            
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                               Filter            
                            </h4>
                        </div>
                        <form role="form" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="filter_submit" value=1> 
                                <div class="form-group">
                                    <input name="show_expired" type="checkbox" 
                                        {% if show_expired %} checked {% endif %}> 
                                        Show expired housing
                                </div>
                                <div class="form-group">
                                    <label> Max credit days</label>
                                    <input type="number" class="form-control" name="credit" value="{{ credit }}">
                                </div>
                                <div class="form-group">
                                    <label> Distance </label>

                                    <h5> To </h5>
                                    <select class="form-control" name="distance_to">
                                        <option value="KTH">KTH</option>
                                     </select>

                                    <h5> Max distance (km) </h5>
                                    <input type="number" class="form-control" name="distance" value="{{ distance }}"> 

                                    <h5> Max time by bike (min) </h5>
                                    <input type="number" class="form-control" name="bike_time" value="{{ bike_time }}">

                                    <h5> Max time by bus (min) </h5>
                                    <input type="number" class="form-control" name="bus_time" value="{{ bus_time }}"> 

                                </div>
                                <div class="form-group">
                                    <label>Region</label>
                                    <br>
                                    {% for region in region_list %}
                                    <input name="region" type="checkbox" value="{{ region.name }}" 
                                        {% if region.selected %} checked {% endif %}> 
                                        {{ region.name }}
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label> Floor (from 0) </label>
                                    <br>
                                    <!--<input type="range" class="form-control"> -->
                                    <div class="col-lg-1">FROM</div>
                                    <div class="col-lg-2">
                                        <input name="floor_min" type="number" class="form-control" 
                                            value="{{ floor_min }}">
                                    </div>
                                    <div class="col-lg-1">TO</div>
                                    <div class="col-lg-2">
                                        <input name="floor_max" type="number" class="form-control"
                                            value="{{ floor_max }}">
                                    </div>
                                    <input name="floor_unspecified" type="checkbox" 
                                        {% if floor_unspecified %} checked {% endif %}> 
                                        Not specified
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Accommododation type</label>
                                    <br>
                                    {% for typ in type_list %}
                                        <input name="type" type="checkbox" value="{{ typ.name }}"
                                        {% if typ.selected %} checked {% endif %}> 
                                        {{ typ.name }}
                                        <br>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>Living space</label>
                                    <br>
                                    <div class="col-lg-1">FROM</div>
                                    <div class="col-lg-2">
                                        <input name="space_min" type="number" class="form-control" 
                                            value="{{ space_min }}">
                                    </div>
                                    <div class="col-lg-1">TO</div>
                                    <div class="col-lg-2">
                                        <input name="space_max" type="number" class="form-control" 
                                            value="{{ space_max }}">
                                    </div>
                                    <input name="space_unspecified" type="checkbox"
                                        {% if space_unspecified %} checked {% endif %}> 
                                        Not specified
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Rent</label>
                                    <br>
                                    <div class="col-lg-1">FROM</div>
                                    <div class="col-lg-3">
                                        <input name="rent_min" type="number" class="form-control" 
                                            value="{{ rent_min }}">
                                    </div>
                                    <div class="col-lg-1">TO</div>
                                    <div class="col-lg-3">
                                        <input name="rent_max" type="number" class="form-control" 
                                            value="{{ rent_max }}">
                                    </div>
                                    <input name="rent_unspecified" type="checkbox"
                                        {% if rent_unspecified %} checked {% endif %}> 
                                        Not specified
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label>Other options</label>
                                    <div class="checkbox">
                                        <label> <input name="short_rent" type="checkbox" 
                                                    {% if short_rent %} checked {% endif %}> 
                                            Short rent 
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input name="electricity_include" type="checkbox" 
                                                    {% if electricity_include %} checked {% endif %}> 
                                            Electricity include 
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input name="rent_free_june_and_july" type="checkbox" 
                                                    {% if rent_free_june_and_july %} checked {% endif %}> 
                                            June & July free 
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input name="max_4_years" type="checkbox" 
                                                    {% if max_4_years %} checked {% endif %}> 
                                            Max 4 years 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <table class="table table-bordered table-hover">
                <caption></caption>
                <thead>
                    <tr>
                        <th> Name 
                            <a class="btn btn-link btn-xs" href="search_apartments?sort_key=name&sort_order=asc" >↑</a>
                            <a class="btn btn-link btn-xs" href="search_apartments?sort_key=name&sort_order=desc">↓</a>
                        </th>
                        <th> Region
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=region&sort_order=asc" >↑</a>
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=region&sort_order=desc">↓</a>
                        </th>
                        <th> Space
                            <a class="btn btn-link btn-xs" 
                               href="search_apartments?sort_key=living_space&sort_order=asc" >↑</a>
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=living_space&sort_order=desc">↓</a>
                        </th>
                        <th> Rent
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=monthly_rent&sort_order=asc">↑</a>
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=monthly_rent&sort_order=desc">↓</a>
                        </th>
                        <th> Credits
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=credit&sort_order=asc" >↑</a>
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=credit&sort_order=desc">↓</a>
                        </th>
                        <th> DDL
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=application_ddl&sort_order=asc">↑</a>
                            <a class="btn btn-link btn-xs" 
                                href="search_apartments?sort_key=application_ddl&sort_order=desc">↓</a>
                        </th>
                    </tr>
                </thead>
                <tbody>

                {% for item in apartments %}
                    <tr>
                        <td>
                            <a href="apartment_status?object_number={{ item.object_number }}" 
                                target="_blank" rel="noopener noreferrer">
                                {{ item.name }}
                            </a>
                            <br>
                            <i>Type</i>: {{ item.accommodation_type }}
                            <br>
                            <a href="{{ item.url }}"
                                target="_blank" rel="noopener noreferrer">
                                Link to SSSB Page
                            </a>
                        </td>
                        <td>
                            <b>{{ item.housing_area }}</b> 
                            <br> 
                            <i> Distance to {{ item.distance_to }}</i>
                            {{ item.distance }} km
                            <br> 
                            <i> Transit to {{ item.distance_to }}</i>
                            {{ item.transit_time }} min
                            <br> 
                            <i> Cycling to {{ item.distance_to }}</i>
                            {{ item.cycling_time }} min
                        </td>
                        <td>{{ item.living_space }} m<sup>2</sup></td>
                        <td>{{ item.monthly_rent }} SEK</td>
                        <td>{{ item.credit }} days</td>
                        <td>{{ item.application_ddl }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </body>
</html>

